#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@media (max-width: 425px) {
  #root {
    /* background-color: red; */
  }
}

.button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  outline: 'none';
}
.button:focus {
  border: none;
  outline: none;
  background-color: #228b22;
}

.checkbox-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

.confirmButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.confirmButtons button {
  background-color: #ff0000;
  color: #fff;
}
.selectedNameContainer {
  display: flex;
  align-self: center;
  justify-content: center;
}
.selectedName {
  padding: 10px 15px;
  color: #fff;
  /* max-width: 50px; */
  background-color: #228b22;
  border-radius: 5px;
  border: 2px solid #ff0000;
}
